<div class="container">
<h1 class="text-center mt-5 text-light"> Croud Funding </h1>
<div class="row mt-">
    <div class="tol-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary"  >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Projet</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sponsor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Createur</a>
                  </li>
                  
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          <div class="tol-4">
            <button type="button" class="pull-right" class="btn btn-success">Login</button>
          </div>
          
    </div>
    <div class="top mt-5">
        <img  src="https://www.jinvestis.ma/sites/default/files/styles/thumb_1013x404/public/2021-06/investment-crowdfunding-concept_74855-7563.jpg?itok=aOH994db" class="figure-img img-fluid rounded"  alt="">
      </div>
</div>
</div>
